@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    display: flex;
    width: 1024px;
    margin: 0 auto 30px;
    justify-content: space-between;
    padding-top: 21px;
}


.logo-text{
    color: #6d6e70;
    text-transform: none;
    text-transform: uppercase;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    width: 520px;
    justify-content: space-between;
}

.menu-link{
    text-decoration: none;
    color: #a2a2a2 ;
    font-size: 14px ;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

}

.logo-link{
    display: flex;
    width: 210px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo-img{
    width: 33px;
    height: 36px;
}

.login{
    display: block;
    padding: 14px 30px;
    background-color: #bcda5c;
    color: #fff;
    border-radius: 20px; 
    border: none;
}

.slider{
    background-image:  url(../img/Layer\ 15@1X.png);
    padding: 167px 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-title{
    color: #fff;
    font-family:  'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 50px;
}

.slider-text{
    color: #fff;
    font-family:  'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 60px;
}

.slider-button{
    font-family:  'Open Sans', sans-serif;
    background-color: #99c50a;
    color:#fff;
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 156px;
}

.presentation-title{
    font-size: 32px;
    font-weight: 600;
    font-family:  'Open Sans', sans-serif;
    width: 506px;
    color: #999999;
    text-align: center;
    margin-bottom: 70px;


}
.presentation-title::before{
    content: '';
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/Shape\ 846.svg);
    margin:  0 auto 52px;

}

.presentation-text{
    font-family:  'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 920px;
    color: rgba(81, 81, 81, 255);
}

.step{
    margin-bottom: 30px;

}


.list{
width: 960px;
display: flex;
margin: 0 auto;
justify-content: space-between;
display: flex;

}



.list-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  'Open Sans', sans-serif;
    width: 33.33%;
    font-weight: 400;
    font-size: 32px;
    color: rgba(101, 101, 101, 255);
    padding-bottom: 38px;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 100px;
}

.list-title:hover{
    border-bottom: 2px solid #99c50a;
}

.list-title::before{
    content: '';
    display: block;
    background-color: #5f5f5f;
    color:#fff;
    padding: 14px 20px;
    margin-right: 29px;
    border-radius: 50%;
    font-family:  'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

}

.list-title:nth-child(1)::before{
    content: '1';
   

}

.list-title:nth-child(2)::before{
    content: '2';
    

}




.list-title:nth-child(3)::before{
    content: '3';
   
}



.list-title:hover::before{
    background-color:#add136; 
}


.projects{
    display: flex;
    width: 872px;
    margin: 65px auto 108px;

}

.project-box{
/* display: flex;
flex-direction: column; */
width: 872px;
padding-left: 220px;
position: relative;
}


.project-box::before{
    position: absolute;
    top: 22px;
    left: 0;
    content: '';
    display: block;
    background-image: url(../img/glasses@1X.png);
    width: 114px;
    height: 102px;
    margin-right: 104px;
    background-size: cover;
}
.project-title{
    font-size: 25px;
    color: rgba(173, 209, 54, 255);
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 34px;
}

.project-text{
    font-size: 18px;
    color: rgba(96, 96, 96, 255);
    font-family:  'Open Sans', sans-serif;
}


.advantage-list{
    display: flex;
    list-style: none;
    width: 1296px;
    margin: 0 auto;
}

.advantage-box{
    position: relative;
    width: 648px;
    padding: 46px 73px 46px 320px;
}

.advantage-item{
    /* padding: 46px 73px 46px; */
    width: 50%;
    background-color: #e2f8ff;
    
}
.advantage-item:last-child{
    
    background-color:#f5f9eb;
}
.advantage-box::before{
content: '';
position: absolute;
top: 50px;
left: 140px;
width: 134px;
height: 140px;
background-image: url(../img/Vector\ Smart\ Object@1X.png);
background-repeat: no-repeat;
}

.advantage-title{
   font-size: 24px;
    color: rgba(81, 81, 81, 255);
    font-family:  'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 34px;
}


.advantage-text{
    font-size: 18xt;
    color: rgba(81, 81, 81, 255);
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.advantage-bth{
    background-color: #26a6d1;
    font-size: 19px;
    color: rgba(255, 255, 255, 255);
    border-radius: 10px;
    font-weight: 600;
    padding: 20px 26px;
    border: none;
    font-family:  'Open Sans', sans-serif;

}
.project-box:last-child::before{
    position: absolute;
    top: 22px;
    left: 0;
    content: '';
    display: block;
    background-image: url(../img/Vector\ Smart\ Object@1X\ \(1\).png);
    width: 114px;
    height: 102px;
    margin-right: 104px;
    background-size: cover;
}