@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fons/Montserrat-Regular.otf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fons/Montserrat-Bold.otf);
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url(../fons/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Kaushan Script';
    src: url(../fons/KaushanScript-Regular.otf);
    font-weight: 400;
    font-style: normal;
  }






.header{
    position: relative;
    width: 1440px;
    height: 1000px;
   background-image: url(../img/Layer\ 15@1X.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   z-index: 1 ;
   margin: 0 auto;
   
}

.fone{
   
        background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
        position: absolute;
        opacity: 0.9;
        width: 1440px;
        height: 1000px;
        left: 0px;
        top: 0px;
        z-index: 2;
      
      
}

.fone__nav{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    min-height: 178px;
}

.fone__nav__logo-nav{
    display: flex;
    width: 490px;
    justify-content: space-between;
    padding-top: 40px;
}

.fone__nav__logo-nav__logo-li{
    list-style: none; 
}

.fone__nav__logo-nav__logo-li__logo-a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.fone__nav__logo{
    padding-top: 28px;
    
}

.fone__nav__logo-h1{
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}
.icon{
    width: 18px;
    height: 18px;
    fill: #ffffff;
    

}

.icon:hover{
    fill: #fce38a;
}

.fone__nav__logo-nav__logo-li:nth-of-type(1):hover::after{
    content: '';
    display: block;
    width: 48px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li:nth-of-type(2):hover::after{
    content: '';
    display:block;
    width: 58px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li:nth-of-type(3):hover::after{
    content: '';
    display: block;
    width: 44px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li:nth-of-type(4):hover::after{
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li:nth-of-type(5):hover::after{
    content: '';
    display: block;
    width: 65px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li:nth-of-type(6):hover::after{
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li:nth-of-type(7):hover::after{
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background-color: #fce38a;
    margin-top: 12px;
}

.fone__nav__logo-nav__logo-li__logo-a:hover{
    color:  #fce38a;
}


.fone__h2__creative{
    font-size: 72px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-bottom: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.fone__h2__welcome{
    font-size: 150px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    width: 818px;
    margin: 0 auto;
    line-height: 0.9;
    text-transform: uppercase;
    margin-bottom: 124px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.fone__a__button{
text-decoration: none;
}

.button__learn{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    width: 160px;
    height: 40px;
    background-color: transparent;
    border:none;
    margin: 0 auto;
    cursor: pointer;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.section-1{
    width: 1150px;
    margin: 0 auto; 
    padding-bottom: 92px;
}

.section-1__h2-Amazing{
    display: block;
    margin: 22px auto;
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.section-1__h3-Amazing{
display: flex;
justify-content: center;
font-size: 24px;
color: rgba(51, 51, 51, 255);
text-align: center;
font-family: 'Kaushan Script', cursive;
} 

.section-1__h1-Amazing::after{
 content: '';
 display:block;
 margin: 42px auto;
 
 width: 60px;
 height: 3px;
 background-color: #f38181;
 align-items: center;

} 

.article1{
    display: flex;
    justify-content: space-between;
    width: 1150px;
    flex-wrap: wrap;
}

.comment{
    display:flex;
    width: 332px;
    height: 70px;
}

 .comment:nth-child(-n+3){
    margin-bottom: 100px;
} 

.comment-2__zagolovok{
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: left;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.comment-2__text-zagolovok{
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.comment__img-zagolovok{
    display: flex;
    align-items: flex-start;
    width: 64px;
    height: 32px;
    margin-right: 29px;
    fill: #95e1d3;
}





.section-2{
    width: 1200px;
    margin: 0 auto; 
}

.section-2__h2-meet{
    display: block;
    margin: 22px auto;
    font-size: 30px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.section-2__h3-meet{
display: flex;
justify-content: center;
font-size: 24px;
color: rgba(51, 51, 51, 255);
text-align: center;
font-family: 'Kaushan Script', cursive;
} 

.section-2__h2-meet::after{
 content: '';
 display:block;
 margin: 42px auto;
 width: 60px;
 height: 3px;
 background-color: #f38181;
 align-items: center;
} 

.section-2__text-p{
    display: block;
    margin: 0 auto;
    width: 941px;
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    text-align: center;
    padding-bottom: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



.article-2{
    display: flex;
    justify-content: space-between;

}


.div123__photo{
    display: block;
    width: 383px;
    height: 473px;
    
}

.model__text-1{
    display: block;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.model__text-2{
    display: block;
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    text-align: center;
    padding-bottom: 82px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.div123{
display: block;
width: 383px;
height: 473px;
position: relative;
margin-bottom: 30px;

}


.div123:hover{
    transform: translateX(-10px);
    transform: translateY(-10px);
    box-shadow: 10px 10px 0px 0px #95e1d3; 
}

.div123:hover .hover-blanc{
    display: block;
}

.hover-blanc{
    display: none;
}  


.hover-img{
    display: block;
    width: 383px;
    height: 473px;
    position: absolute;
    top: 0;
    left:0;
    background-color: #f08e8c;
    opacity: 0.80 ;
    z-index: 2;
    
}

.hover-clic{
    display: flex;
    position: absolute;
    width: 224px;
    top: 235px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 300;
}

.clic{
    cursor: pointer;
    display: block; 
    width: 56px;
    height: 56px;
    opacity: 12;
    background-color: #fce38a;
    border: none;
    margin-right: 1px;
    align-content: center;
}

.insta-facebook{
    fill: #f38181;
    width: 13px;
    height: 26px;
}

.insta-twitter{
    fill: #f38181;
    width: 26px;
    height: 26px;
}

.insta-pinterest{
    fill: #f38181;
    width: 21px;
    height: 26px;
}

.insta-instagram{
    fill: #f38181;
    width: 26px;
    height: 26px;
}

.clic:hover .insta-facebook{
    fill: #ffffff;
}

.clic:hover .insta-twitter{
    fill: #ffffff;
}

.clic:hover .insta-pinterest{
    fill: #ffffff;
}

.clic:hover .insta-instagram{
    fill: #ffffff;
}


.clic:hover{
    background-color: #f38181;
}

.clic:nth-of-type(4){
 margin-right:0;
}


.hover-blanc:hover{
    display: block;
} 




.footer{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.fotter__line{
display: block;
width: 1200px;
height: 1px;
background-color: #d0d0d0;
margin-bottom: 24px;
}

.footer-div{
    display: flex;
    justify-content: space-between;
}

.footer-div__text{
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.footer-div__text--color{
    color: #facece;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.email{
    width: 230px;
    height: 35px;
}

.form{
    display: flex;
}

.email::placeholder{
    
    font-size: 15px;
    color: rgba(204, 204, 204, 255);
    text-align: left;
    margin-right: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
    
}

.email{
    width: 230px;
    height: px;
}



.button-footer{

width: 150px;
height: 40px;
background-color: #95e1d3;
text-transform: uppercase;
font-size: 14px;
color: rgba(255, 255, 255, 255);
text-align: center;
cursor: pointer;
border: none;
font-family: 'Montserrat', sans-serif;  
font-weight: 400;

}
