*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}








.nav{
    list-style: none;
    margin: 0 auto;
    width: 900px; 
    margin-top: 77px;
}

li {
    display: inline;
    margin-left: 105px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
   
}
.stiv{
    font-size: 14px;
    color: #03a9f4;
    text-align: center;
}

.main{
    width: 1000px;
    margin: 100px auto 0; 
}

div{
    display: inline-block;
    width: 420px;
    margin-bottom: 136px;
}

img{
    width: 420px;
    height: 280px;
}

.step{
    margin-left: 60px;
}

.lifestyle{
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    text-transform: uppercase;
    margin: 31px 0 28px;
}
h3{
    font-size: 30px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-bottom: 40px;
}
  
p{
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
}

.button{
    display: block;
   margin: 0 auto;
}
  
.footer-button{
    font-size: 20px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    padding: 21px 34px; 
}
   