@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
   padding-top: 77px;
   width: 900px;
   margin: 0 auto;
   padding-bottom: 103px;
  
}





.nav{
    list-style: none;
    margin: 0 auto;
    font-size: 0;
    width: 554px;
}


.point{
    margin: 0 auto;
} 

li {
    display: inline-block;;
    margin-right: 100px;
}

li:nth-child(n+4){
    margin-right: 0;
}
.url-nav{
    
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.url-nav:hover{
    color: #03a9f4;
}

.main {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
    
  
}

.section{
    padding-bottom: 100px;
}


.block{
    display: inline-block;
    width: 420px;
    margin-bottom: 136px;
}

.photo{
    width: 420px;
    height: 280px;
}

.step{
    margin-left: 60px;
}

.block:nth-child(n+5){
    margin-bottom:  0px;
}

.photo{
    margin-bottom: 31px;
}

.lifestyle{
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    text-transform: uppercase;
    margin: 0 0 28px;
    font-family: 'Playfair Display', serif;
}
.h3{
    font-size: 30px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
  
.text{
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.footer{
    padding-top: 54px;
}

  
 .footer-button{
     display: block;
     margin: 0 auto;
     width: 164px;
     height: 60px;
     /* margin-top: 30px; */

 }
   
   

.button-url{
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    font-family: 'Playfair Display', serif;
    /* padding: 21px 34px; */
}