@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}








.nav{
    list-style: none;
    margin: 0 auto;
    width: 666px; 
    margin-top: 77px;
   
    
    margin-bottom: 103px;
}

li {
    display: inline;
    margin-left: 100px;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.stiv{
    font-size: 14px;
    color: #03a9f4;
    text-align: center;
}

.main{
    width:904px;
    margin: 100px auto 0; 
}

.block{
    display: inline-block;
    width: 420px;
    margin-bottom: 136px;
}

.photo{
    width: 420px;
    height: 280px;
}

.step{
    margin-left: 60px;
}

.block:nth-child(n+5){
    margin-bottom:  0px;
}


.lifestyle{
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    text-transform: uppercase;
    margin: 31px 0 28px;
    font-family: 'Playfair Display', serif;
}
.h3{
    font-size: 30px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}
  
.text{
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    font-family: 'Playfair Display', serif;
}



  
.footer-button{
    font-size: 20px;
    color: rgba(98, 98, 98, 255);
    text-align: center;
    padding: 21px 34px; 
    font-family: 'Playfair Display', serif;
    margin: 54px 370px 70px 370px;
}
   